In [2]:
CONN_STRING="postgresql://postgres:password1@localhost/discogs"
%load_ext sql
%sql $CONN_STRING

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@discogs'

# Creating a utility User Defined Function (UDF)

Our data contains textual fields with unnown content. We want to clean it by removing all characters except alphanumerics.

We do so by defining a regular expression replacement pattern `'[^a-zA-Z0-9 ]+'` and using `regexp_replace` to do the replacement. We also us the `LOWER` built in function to convert everything to lowercase characters.

In [3]:
%%sql

CREATE OR REPLACE FUNCTION clr (txt_in text)
RETURNS text
AS $$
    SELECT LOWER(regexp_replace(txt_in, '[^a-zA-Z0-9 ]+', '', 'g'))
$$
LANGUAGE SQL
RETURNS NULL ON NULL INPUT;

 * postgresql://postgres:***@localhost/discogs
Done.

[]

We will be using this function to clean every textual field.

# Defining a feature table

We would like to build a genre predictor for releases based on various data. Since information about artists might also be a useful feature, we join artists and releases.

In [4]:
%%sql

DROP TABLE IF EXISTS release_f;

CREATE TABLE release_f AS
SELECT
    a.artist_id,
    r.release_id,
    clr(name) as name,
    clr(realname) as realname,
    clr(profile) as profile,
    url,
    released,
    clr(title) as title,
    clr(country) as country,
    clr(genre) as genre
FROM releases r
JOIN released_by rb ON r.release_id = rb.release_id
JOIN artists a ON a.artist_id = rb.artist_id;

SELECT * FROM release_f
LIMIT 10;

 * postgresql://postgres:***@localhost/discogs
Done.
547652 rows affected.
10 rows affected.

[(2125, 1585, 'traxmen', None, None, None, datetime.date(1994, 1, 1), 'basement traxx vol ii', 'us', 'electronic'),
 (160416, 7273, 'aaron nesbit', None, None, None, datetime.date(2001, 1, 1), 'strictly physical ep', 'switzerland', 'electronic'),
 (6620, 7897, 'dirty jesus', None, None, None, datetime.date(1996, 3, 1), 'cut a rug ep', 'uk', 'electronic'),
 (8709, 13269, 'badmarsh  shri', None, None, 'http://www.myspace.com/badmarshshri', datetime.date(1998, 1, 1), 'dancing drums', 'uk', 'electronic'),
 (13336, 15076, 'celestial', 'alexander church  phil joyce', None, None, datetime.date(2001, 4, 16), 'club vip  plan b', 'netherlands', 'electronic'),
 (15488, 16976, 'cosmetix', 'marino berardi  louis botella', None, None, datetime.date(2001, 11, 1), 'background', 'us', 'electronic'),
 (239959, 19372, 'revtone', 'justin robertson mark ralph', 'initially an alias of ajustin robertson', None, datetime.date(2001, 1, 1), 'the brightest thing', 'uk', 'electronic'),
 (12089, 19830, 'biting tongues', None, 'manchester postpunk band initially active between 1979 and 1989 who recorded for various labels including new hormones paragon situation two and factory', 'http://www.bitingtongues.com/', datetime.date(1989, 1, 1), 'love out', 'uk', 'electronic'),
 (18396, 21890, 'speed soul brothers', 'r fabrie d verhage', None, None, datetime.date(1993, 1, 1), 'retsekets ep', 'netherlands', 'electronic'),
 (18431, 21939, 'triple j', None, 'uk happy hardcore act triple j is jimmy j justin time and jenka  hence triple j', None, datetime.date(1998, 1, 1), 'wonderful world', 'uk', 'electronic')]

# Build Features about artists

We want to come up with more meaningful features. The intuition we want to apply is that in order to predict what will be the genre of a release, we may want to know what kinds of genres does the artist normally produce.

We want to get, for every genre, what is the frequency of the artist releasing albums in that genre.

We first create a table of genres, we will use this in the following queries.

In [11]:
%%sql

DROP TABLE IF EXISTS genres;

CREATE TABLE genres
AS SELECT DISTINCT clr(genre) as genre
FROM releases;

 * postgresql://postgres:***@localhost/discogs
Done.
15 rows affected.

[]

We can do a simple `COUNT()` aggregate with a group by `artist_id` and `genre` from the existing `release_f` table.

In [12]:
%%sql

SELECT artist_id, genre, COUNT(*) as count
FROM release_f
GROUP BY artist_id, genre
LIMIT 10

 * postgresql://postgres:***@localhost/discogs
10 rows affected.

[(337313, 'electronic', 1),
 (45725, 'electronic', 5),
 (31661, 'electronic', 5),
 (1271480, 'electronic', 1),
 (444365, 'rock', 1),
 (286960, 'electronic', 2),
 (150507, 'electronic', 3),
 (427141, 'electronic', 1),
 (21043, 'electronic', 29),
 (410037, 'electronic', 1)]

However, this doesn't give us the rows where the counts are zero. We need a more complicated query.

We do a `CROSS JOIN` between `artists` and `genres` to produce all combinations of artists and genres (we filter only artists that have a release). Then we do a `LEFT JOIN` between that and the previous query (that groups by artist and genre). Finally we replace the `NULL` values with zeros.

In [13]:
%%sql

DROP TABLE IF EXISTS artists_genres_counts;

CREATE TABLE artists_genres_counts AS
SELECT a.artist_id, g.genre, (CASE WHEN c.count IS NULL THEN 0 ELSE c.count END) as count
FROM artists a
CROSS JOIN genres as g
LEFT JOIN (
    SELECT artist_id, genre, COUNT(*) as count
    FROM release_f
    GROUP BY artist_id, genre
) as c ON a.artist_id = c.artist_id AND g.genre = c.genre
WHERE EXISTS (SELECT FROM released_by WHERE artist_id = a.artist_id);

SELECT * FROM artists_genres_counts LIMIT 50;

 * postgresql://postgres:***@localhost/discogs
Done.
2032080 rows affected.
50 rows affected.

[(1, 'latin', 0),
 (1, 'hip hop', 0),
 (1, 'stage  screen', 0),
 (1, 'reggae', 0),
 (1, 'blues', 0),
 (1, 'funk  soul', 0),
 (1, 'brass  military', 0),
 (1, 'nonmusic', 0),
 (1, 'classical', 0),
 (1, 'electronic', 10),
 (1, 'jazz', 0),
 (1, 'pop', 0),
 (1, 'childrens', 0),
 (1, 'rock', 0),
 (1, 'folk world  country', 0),
 (2, 'latin', 0),
 (2, 'hip hop', 0),
 (2, 'stage  screen', 0),
 (2, 'reggae', 0),
 (2, 'blues', 0),
 (2, 'funk  soul', 0),
 (2, 'brass  military', 0),
 (2, 'nonmusic', 0),
 (2, 'classical', 0),
 (2, 'electronic', 3),
 (2, 'jazz', 0),
 (2, 'pop', 0),
 (2, 'childrens', 0),
 (2, 'rock', 0),
 (2, 'folk world  country', 0),
 (3, 'latin', 0),
 (3, 'hip hop', 0),
 (3, 'stage  screen', 0),
 (3, 'reggae', 0),
 (3, 'blues', 0),
 (3, 'funk  soul', 0),
 (3, 'brass  military', 0),
 (3, 'nonmusic', 1),
 (3, 'classical', 0),
 (3, 'electronic', 158),
 (3, 'jazz', 0),
 (3, 'pop', 0),
 (3, 'childrens', 0),
 (3, 'rock', 0),
 (3, 'folk world  country', 0),
 (4, 'latin', 0),
 (4, 'hip hop', 0),
 (4, 'stage  screen', 0),
 (4, 'reggae', 0),
 (4, 'blues', 0)]

Finally, we use `madlib.pivot` to pick out all genres and make columns out of them.

In [18]:
%%sql

DROP TABLE IF EXISTS artists_f CASCADE;

SELECT madlib.pivot(
    'artists_genres_counts_n',  -- source table
    'artists_f',                -- output table
    'artist_id',                -- ID column
    'genre',                    -- grouping column (each one of these will produce a column withing the pivoted table)
    'count',                    -- column containing the valuable information
    'sum'                       -- function to apply (we pick summation)
);

SELECT * FROM artists_f ORDER BY artist_id LIMIT 10;

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.
10 rows affected.

[(1, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (2, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (3, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.99371069182389937107'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.00628930817610062893'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (4, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (5, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (7, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.97058823529411764706'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.02941176470588235294'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (8, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (9, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (11, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')),
 (13, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'))]

We finally join the new artist features with the release genre which is our target.

In [19]:
%%sql

DROP TABLE IF EXISTS release_ff;

CREATE TABLE release_ff AS
SELECT a.*, r.genre, r.release_id
FROM artists_f a
JOIN release_f r ON a.artist_id = r.artist_id;

SELECT * FROM release_ff LIMIT 10;

 * postgresql://postgres:***@localhost/discogs
Done.
547652 rows affected.
10 rows affected.

[(174416, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 232142),
 (174416, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 251593),
 (174416, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 454374),
 (274685, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 97317),
 (157393, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 205352),
 (298013, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'jazz', 422514),
 (298013, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'jazz', 421181),
 (298013, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'jazz', 547113),
 (165572, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 606380),
 (165572, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'electronic', 625601)]

# Taking relative frequencies instead of absolute frequencies

In the previous feature table, we were taking counts, but we should actually normalize in order to make artists compareable amongst each other.

To achieve this we use a "window aggregate" construct. This is simply an aggregate function over a subgroup. It is similar in that way to a `GROUP BY` except that it doesn't merge the rows, it just evaluates a function over a group but the rows remain intact.

In [17]:
%%sql

DROP TABLE IF EXISTS artists_genres_counts_n;

CREATE TABLE artists_genres_counts_n AS
SELECT
    artist_id,
    genre,
    count / (SUM(count) OVER (PARTITION BY artist_id)) as count
FROM artists_genres_counts
ORDER BY artist_id;

SELECT * FROM artists_genres_counts_n
LIMIT 50;

 * postgresql://postgres:***@localhost/discogs
Done.
2032080 rows affected.
50 rows affected.

[(1, 'latin', Decimal('0E-20')),
 (1, 'hip hop', Decimal('0E-20')),
 (1, 'reggae', Decimal('0E-20')),
 (1, 'nonmusic', Decimal('0E-20')),
 (1, 'classical', Decimal('0E-20')),
 (1, 'blues', Decimal('0E-20')),
 (1, 'electronic', Decimal('1.00000000000000000000')),
 (1, 'jazz', Decimal('0E-20')),
 (1, 'stage  screen', Decimal('0E-20')),
 (1, 'funk  soul', Decimal('0E-20')),
 (1, 'pop', Decimal('0E-20')),
 (1, 'childrens', Decimal('0E-20')),
 (1, 'brass  military', Decimal('0E-20')),
 (1, 'rock', Decimal('0E-20')),
 (1, 'folk world  country', Decimal('0E-20')),
 (2, 'latin', Decimal('0E-20')),
 (2, 'hip hop', Decimal('0E-20')),
 (2, 'stage  screen', Decimal('0E-20')),
 (2, 'reggae', Decimal('0E-20')),
 (2, 'blues', Decimal('0E-20')),
 (2, 'funk  soul', Decimal('0E-20')),
 (2, 'brass  military', Decimal('0E-20')),
 (2, 'nonmusic', Decimal('0E-20')),
 (2, 'classical', Decimal('0E-20')),
 (2, 'electronic', Decimal('1.00000000000000000000')),
 (2, 'jazz', Decimal('0E-20')),
 (2, 'pop', Decimal('0E-20')),
 (2, 'childrens', Decimal('0E-20')),
 (2, 'rock', Decimal('0E-20')),
 (2, 'folk world  country', Decimal('0E-20')),
 (3, 'hip hop', Decimal('0E-20')),
 (3, 'stage  screen', Decimal('0E-20')),
 (3, 'reggae', Decimal('0E-20')),
 (3, 'blues', Decimal('0E-20')),
 (3, 'funk  soul', Decimal('0E-20')),
 (3, 'brass  military', Decimal('0E-20')),
 (3, 'nonmusic', Decimal('0.00628930817610062893')),
 (3, 'classical', Decimal('0E-20')),
 (3, 'electronic', Decimal('0.99371069182389937107')),
 (3, 'jazz', Decimal('0E-20')),
 (3, 'pop', Decimal('0E-20')),
 (3, 'childrens', Decimal('0E-20')),
 (3, 'rock', Decimal('0E-20')),
 (3, 'folk world  country', Decimal('0E-20')),
 (3, 'latin', Decimal('0E-20')),
 (4, 'latin', Decimal('0E-20')),
 (4, 'hip hop', Decimal('0E-20')),
 (4, 'stage  screen', Decimal('0E-20')),
 (4, 'reggae', Decimal('0E-20')),
 (4, 'blues', Decimal('0E-20'))]

# Textual Features from Artist's Profiles

In [124]:
%%sql

DROP TABLE IF EXISTS artist_profiles;

CREATE TABLE artist_profiles AS
SELECT artist_id, regexp_split_to_array(clr(profile), E'[\\s+]') as profile
FROM artists
WHERE profile IS NOT NULL;

SELECT * FROM artist_profiles LIMIT 10;

 * postgresql://postgres:***@localhost/discogs
Done.
936921 rows affected.
10 rows affected.

[(3, ['after', 'forming', 'lovum', 'recordings', 'as', 'an', 'independent', 'label', 'in', 'october', '1994', 'with', 'former', 'partner', 'aking', 'britt' ... (852 characters truncated) ... s', 'remixes', 'for', 'afc', 'kahuna', 'apaul', 'oakenfold', 'aladytron', 'aclint', 'mansell', 'asting', 'and', 'adepeche', 'mode', 'among', 'others']),
 (4, ['electronic', 'music', 'producer', 'musician', 'and', 'live', 'performer', 'born', '3', 'february', '1978', 'near', 'the', 'town', 'of', 'bad', 'nauheim', 'germany', 'founder', 'of', 'ljh', 'and', 'lmetatron', 'recordings']),
 (5, ['german', 'dj', 'and', 'producer', 'based', 'in', 'berlin', 'he', 'is', 'the', 'founder', 'of', 'lkanzleramt']),
 (8, ['house', 'duo', 'from', 'us']),
 (11, ['philly', 'house', 'producer', 'works', 'with', 'scuba', 'and', 'king', 'britt', 'ovum', 'rec', 'owner', 'of', 'the', 'label', 'lnou', 'lion', 'recordings']),
 (13, ['new', 'jerseybased', 'duo', 'achris', 'herbert', 'was', 'a', 'member', 'but', 'left', 'the', 'group', 'in', 'the', 'early', '90s', '']),
 (14, ['german', 'ambientidmhousetechnoelectroleftfield', 'dj', 'and', 'producer', 'based', 'in', 'frankfurt', 'he', 'is', 'active', 'since', 'the', 'early' ... (55 characters truncated) ... , 'time', 'partner', 'ajrn', 'elling', 'wuttke', 'he', 'is', 'also', 'a', 'cofounder', 'of', 'longaku', 'musik', 'lklang', 'elektronik', 'lplayhouse']),
 (16, ['techhouse', 'and', 'funky', 'techno', 'dj', '', 'producer', 'born', 'in', 'sweden', 'christian', 'spent', 'much', 'of', 'his', 'youth', 'and', 'earl ... (158 characters truncated) ... is', 'house', '', 'techno', 'label', 'ltronic', 'label', 'in', '1994', 'then', 'restarted', 'it', 'in', '2009', 'after', 'a', 'twoyear', 'hiatus', '']),
 (17, ['from', 'the', 'early', '90s', 'to', 'the', 'present', 'selway', 'has', 'built', 'a', 'high', 'quality', 'catalog', 'of', 'productions', 'both', 'on' ... (879 characters truncated) ... ', 'one', 'of', 'the', 'most', 'stylistically', 'wide', 'ranging', 'bodies', 'of', 'work', 'in', 'the', 'world', 'of', 'electronic', 'dance', 'music']),
 (20, ['producer', 'and', 'dj', 'from', 'glasgow', 'scotland'])]

In [125]:
%%sql
DROP TABLE IF EXISTS artist_profiles_tf, artist_profiles_tf_vocabulary;

SELECT madlib.term_frequency('artist_profiles',    -- input table
                             'artist_id',        -- document id column
                             'profile',        -- vector of words in document
                             'artist_profiles_tf', -- output documents table with term frequency
                             TRUE);          -- TRUE to created vocabulary table

SELECT * FROM artist_profiles_tf ORDER BY artist_id LIMIT 20;

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.
20 rows affected.

[(3, 150561, 1),
 (3, 171509, 1),
 (3, 133512, 1),
 (3, 146710, 1),
 (3, 127591, 3),
 (3, 125565, 1),
 (3, 120376, 1),
 (3, 104654, 1),
 (3, 142141, 2),
 (3, 16345, 1),
 (3, 0, 1),
 (3, 126625, 1),
 (3, 99090, 1),
 (3, 16277, 1),
 (3, 96075, 1),
 (3, 112613, 1),
 (3, 29788, 3),
 (3, 103070, 1),
 (3, 114023, 1),
 (3, 173229, 1)]

In [127]:
%%sql
SELECT * FROM artist_profiles_tf_vocabulary ORDER BY wordid LIMIT 20;

 * postgresql://postgres:***@localhost/discogs
20 rows affected.

[(0, ''),
 (1, '0'),
 (2, '00'),
 (3, '000'),
 (4, '0000'),
 (5, '0000001'),
 (6, '00001010'),
 (7, '00005352226'),
 (8, '00009060219'),
 (9, '0001'),
 (10, '00010002'),
 (11, '000127'),
 (12, '00014971095'),
 (13, '00015074612'),
 (14, '00018'),
 (15, '00018ks'),
 (16, '0002'),
 (17, '00023338802'),
 (18, '0003'),
 (19, '0004')]

In [126]:
%%sql

SELECT (SELECT COUNT(*) FROM artist_profiles_tf_vocabulary) as count_voc

 * postgresql://postgres:***@localhost/discogs
1 rows affected.

[(787491,)]