In [27]:
CONN_STRING="postgresql://postgres:password1@localhost/discogs"
%load_ext sql
%sql $CONN_STRING

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@discogs'

# Splitting the data into training and test subset

In supervised learning we always want to test the model on unseen data, which is why we split our dataset into the train and test sets. We use the `train_test_split` function from MADlib for that.

In [22]:
%%sql

DROP TABLE IF EXISTS dataset_train, dataset_test;

SELECT madlib.train_test_split(
    'dataset_sample',   -- input table
    'dataset',          -- output table
    0.6,                -- train split
    0.4,                -- test split
    'genre',            -- label column (to pay attention to ratios)
    NULL,               -- subset of columns to output (if NULL then all)
    FALSE,              -- with replacement
    TRUE                -- generate train/test tables
);

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.

[('',)]

We can check the sizes of the train and test sets.

In [23]:
%%sql

SELECT (SELECT COUNT(*) FROM dataset_train) as train_count, (SELECT COUNT(*) FROM dataset_test) as test_count

 * postgresql://postgres:***@localhost/discogs
1 rows affected.

[(3000, 2010)]

And also check the label breakdown.

In [24]:
%sql SELECT genre, COUNT(*) FROM dataset_train GROUP BY genre;

 * postgresql://postgres:***@localhost/discogs
15 rows affected.

[('latin', 200),
 ('funk  soul', 200),
 ('nonmusic', 200),
 ('rock', 200),
 ('childrens', 200),
 ('brass  military', 200),
 ('pop', 200),
 ('jazz', 200),
 ('hip hop', 200),
 ('stage  screen', 200),
 ('electronic', 200),
 ('classical', 200),
 ('folk world  country', 200),
 ('reggae', 200),
 ('blues', 200)]

In [25]:
%sql SELECT genre, COUNT(*) FROM dataset_test GROUP BY genre;

 * postgresql://postgres:***@localhost/discogs
15 rows affected.

[('latin', 134),
 ('funk  soul', 134),
 ('nonmusic', 134),
 ('rock', 134),
 ('childrens', 134),
 ('brass  military', 134),
 ('pop', 134),
 ('jazz', 134),
 ('hip hop', 134),
 ('stage  screen', 134),
 ('electronic', 134),
 ('classical', 134),
 ('folk world  country', 134),
 ('reggae', 134),
 ('blues', 134)]

# Supervised Learning

## Training the model

We will be using the Random forest model since it is very versatile and not sensitive to unprocessed features.

In [26]:
%%sql

DROP TABLE IF EXISTS train_output, train_output_group, train_output_summary;

SELECT madlib.forest_train(
    'dataset_train',         -- source table
    'train_output',          -- output model table
    'release_id',            -- id column
    'genre',                 -- response
    '*',                     -- features
    NULL,                    -- exclude columns
    NULL,                    -- grouping columns
    20::integer,             -- number of trees
    2::integer,              -- number of random features
    TRUE::boolean,           -- variable importance
    1::integer,              -- num_permutations
    8::integer,              -- max depth
    3::integer,              -- min split
    1::integer,              -- min bucket
    10::integer,             -- number of splits per continuous variable
    '',                      -- surrogate params
    TRUE::boolean,           -- verboose
    0.1::float               -- sample ratio
);

SELECT * FROM train_output_summary;

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.
1 rows affected.

[('forest_train', True, 'dataset_train', 'train_output', 'release_id', 'genre', 'profile,name,title,url,country,__madlib_id__,artist_id,realname', 'profile,name,title,url,country,__madlib_id__,artist_id,realname', '', None, 20, 2, 8, 3, 1, 10, True, True, 1, 1, 0, 3000, 0, 'blues,brass  military,childrens,classical,electronic,folk world  country,funk  soul,hip hop,jazz,latin,nonmusic,pop,reggae,rock,stage  screen', 'text', 'text, text, text, text, text, bigint, integer, text', 'None')]

## Making Predictions

We make predictions on the test set.

In [18]:
%%sql

DROP TABLE IF EXISTS prediction_results;

SELECT madlib.forest_predict('train_output',          --table containing the tree model
                             'dataset_test',          --table containing test data
                             'prediction_results',    --new table to store predictions
                             'response');             --predict the labels directly (as opposed to predicting probabilities)

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.

[('',)]

We need to produce a table of true values and actual predictions, so that we can compute the accuracy.

In [19]:
%%sql

DROP TABLE IF EXISTS test_predictions;

CREATE TABLE test_predictions AS
SELECT pr.release_id, estimated_genre, genre
FROM prediction_results pr
JOIN dataset_test t ON t.release_id = pr.release_id;

SELECT * FROM test_predictions LIMIT 10;

 * postgresql://postgres:***@localhost/discogs
Done.
2010 rows affected.
10 rows affected.

[(411361, 'stage  screen', 'blues'),
 (414582, 'stage  screen', 'blues'),
 (620637, 'folk world  country', 'blues'),
 (620637, 'folk world  country', 'blues'),
 (641784, 'blues', 'blues'),
 (641784, 'blues', 'blues'),
 (605829, 'stage  screen', 'blues'),
 (605829, 'stage  screen', 'blues'),
 (404534, 'stage  screen', 'blues'),
 (404534, 'stage  screen', 'blues')]

## Measuring Quality

We can simply compute the average accuracy of predictions.

In [20]:
%%sql

SELECT AVG(sub.eq) FROM (
    SELECT (CASE WHEN genre = estimated_genre THEN 1 ELSE 0 END) AS eq
    FROM test_predictions
) as sub

 * postgresql://postgres:***@localhost/discogs
1 rows affected.

[(Decimal('0.08656716417910447761'),)]

We can also examine the accuracy on individual genres.

In [21]:
%%sql

SELECT genre, AVG(sub.eq) FROM (
    SELECT (CASE WHEN genre = estimated_genre THEN 1 ELSE 0 END) AS eq, genre
    FROM test_predictions
) as sub
GROUP BY genre

 * postgresql://postgres:***@localhost/discogs
15 rows affected.

[('latin', Decimal('0E-20')),
 ('funk  soul', Decimal('0E-20')),
 ('nonmusic', Decimal('0.00746268656716417910')),
 ('rock', Decimal('0E-20')),
 ('childrens', Decimal('0.10447761194029850746')),
 ('brass  military', Decimal('0E-20')),
 ('pop', Decimal('0E-20')),
 ('jazz', Decimal('0E-20')),
 ('hip hop', Decimal('0E-20')),
 ('stage  screen', Decimal('0.89552238805970149254')),
 ('electronic', Decimal('0E-20')),
 ('classical', Decimal('0E-20')),
 ('folk world  country', Decimal('0.17910447761194029851')),
 ('reggae', Decimal('0.04477611940298507463')),
 ('blues', Decimal('0.06716417910447761194'))]

# Unsupervised Learning

In this portion we use the artist/genre features and we try to cluster artists according to their feature vectors.

In [57]:
%sql select * from dataset_sample limit 3

 * postgresql://postgres:***@localhost/discogs
3 rows affected.

[(1, 832951, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'classical', 530219),
 (2, 39574, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.80769230769230769231'), Decimal('0.15384615384615384615'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.03846153846153846154'), 'classical', 613405),
 (3, 239236, Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), 'classical', 530293)]

However, the k-means algorithm in MADlib expects a special feature vector column where cells contain lists of real numbers. We need to use the `col2vec` function to achieve this.

In [60]:
%%sql

DROP TABLE IF EXISTS dataset_vec, dataset_vec_summary;

SELECT madlib.cols2vec(
    'dataset_sample',                                -- source table
    'dataset_vec',                                   -- target table
    '*',                                             -- columns to include in vectors
    'artist_id, genre, release_id, __madlib_id__',   -- columns to exclude from vectors
    'artist_id, genre'                               -- columns to add to the final table (apart from the vector column)
);

SELECT * FROM dataset_vec ORDER BY artist_id LIMIT 10;

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.
10 rows affected.

[(78, 'latin', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.68627450980392156863'), Decimal('0E-20'), Decimal('0.0196078431372 ... (38 characters truncated) ... 0.27450980392156862745'), Decimal('0.01960784313725490196'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (96, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (232, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (246, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (301, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (318, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (323, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (368, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')]),
 (402, 'stage  screen', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.88888888888888888889'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (4 characters truncated) ... E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.11111111111111111111')]),
 (402, 'stage  screen', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.88888888888888888889'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (4 characters truncated) ... E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.11111111111111111111')])]

In [61]:
%%sql

DROP TABLE IF EXISTS km_result;
-- Run kmeans algorithm
CREATE TABLE km_result AS
SELECT * FROM madlib.kmeanspp(
    'dataset_vec',                  -- input data
    'feature_vector',               -- feature column
    15,                             -- k - number of clusters
    'madlib.squared_dist_norm2',    -- distance function
    'madlib.avg'                    -- cluster centroid computation function
);

SELECT * FROM km_result;

 * postgresql://postgres:***@localhost/discogs
Done.
1 rows affected.
1 rows affected.

[([[0.0, 0.0, 0.0177777777777778, 0.0, 0.00333730158730159, 0.0, 0.000952380952380952, 0.00111111111111111, 0.0, 0.0, 0.956166666666668, 0.0039087301587 ... (2675 characters truncated) ... 6628026, 0.033444391449881, 0.0045322658225884, 0.00223964535914217, 0.0127230332350491, 0.000710179348588951, 0.783556454213429, 0.0017921146953405]], [7.64215881519273, 0.0, 13.5153379175503, 10.5676296476127, 0.0, 7.36793540945791, 18.6029503829504, 30.8070044726693, 109.790600954795, 19.82527515442, 27.5398691959023, 45.2835082938832, 4.70028753904507, 9.12437559382553, 54.3337518566022], 359.100685233906, 0.000199600798403194, 9)]

We may also want to see which vector was assigned to which cluster. For this we use the `closest_column` method.

In [68]:
%%sql

SELECT data.*,  (madlib.closest_column(centroids, feature_vector)).column_id AS cluster_id
FROM dataset_vec AS data, km_result
ORDER BY data.artist_id
LIMIT 20;

 * postgresql://postgres:***@localhost/discogs
20 rows affected.

[(78, 'latin', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.68627450980392156863'), Decimal('0E-20'), Decimal('0.0196078431372 ... (38 characters truncated) ... 0.27450980392156862745'), Decimal('0.01960784313725490196'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (96, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (232, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (246, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (301, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (318, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (323, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (368, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (402, 'stage  screen', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.88888888888888888889'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (4 characters truncated) ... E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.11111111111111111111')], 8),
 (402, 'stage  screen', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.88888888888888888889'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (4 characters truncated) ... E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.11111111111111111111')], 8),
 (435, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (505, 'nonmusic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.97500000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (4 characters truncated) ... E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.02500000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (634, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.00709219858156028369'), Decimal('0.91489361702127659574'), Decimal('0E-20'), Decimal ... (21 characters truncated) ... E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.07801418439716312057'), Decimal('0E-20')], 8),
 (661, 'jazz', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.93103448275862068966'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (21 characters truncated) ... 0.05747126436781609195'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.01149425287356321839'), Decimal('0E-20')], 8),
 (712, 'reggae', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.42857142857142857143'), Decimal('0E-20'), Decimal('0E-20'), Decima ... (21 characters truncated) ... 5714'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.42857142857142857143'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (763, 'jazz', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0.95901639344262295082'), Decimal('0E-20'), Decimal('0.0245901639344 ... (21 characters truncated) ... E-20'), Decimal('0.01639344262295081967'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (766, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (835, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (853, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8),
 (866, 'electronic', [Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('1.00000000000000000000'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20'), Decimal('0E-20')], 8)]